<section class="banners">
  <app-card-banner photoBanner="https://image.api.playstation.com/pr/bam-art/161/405/7d720815-ffcf-4efc-a86c-cd9a8ad23206.png?w=440"></app-card-banner>
  <app-card-banner photoBanner="https://image.api.playstation.com/pr/bam-art/162/097/95c62a68-6bea-4f72-81b1-9f88e1b30f4b.jpg?w=440"></app-card-banner>
  <app-card-banner photoBanner="https://image.api.playstation.com/pr/bam-art/161/221/c9d3c170-cbf7-433a-8d03-3227c0b4cdb3.jpg?w=440"></app-card-banner>
</section>
<section class="products">
  <div class="head">
    <h2 class="offers__title">Ofertas</h2>
    <a href="" class="see-all">Visualizar tudo</a>
  </div>
  <div class="cards__container">
    <app-card-product 
      image="https://image.api.playstation.com/vulcan/ap/rnd/202305/0314/792fad1222485e198c11a0c5f04fafe83be217b28e2db867.png?w=440&thumb=false"
      type_product=""
      card_title="F1 23"
      discount_value="-40%"
      price="R$215,34"
      selling_price="R$358,90"
    ></app-card-product>
    <app-card-product 
      image="https://image.api.playstation.com/vulcan/ap/rnd/202208/1118/9fKXIDxeoaPLlBelpnXrCJGW.png?w=440&thumb=false"
      type_product="Edição premium"
      card_title="Dead Island 2 Gold Edition"
      discount_value="-30%"
      price="R$349,30"
      selling_price="R$499,00"
    ></app-card-product>
    <app-card-product 
      image="https://image.api.playstation.com/vulcan/ap/rnd/202210/2609/lgPM04qlLofxYamtlfMfqkHZ.png?w=440&thumb=false"
      type_product=""
      card_title="Wo Long: Fallen Dynasty (PS4 & PS5)"
      discount_value="-30%"
      price="R$209,93"
      selling_price="R$299,90"
    ></app-card-product>
    <app-card-product 
      image="https://image.api.playstation.com/vulcan/ap/rnd/202203/1409/oltI7Zc96usbdvhVVXcV1EAi.png?w=440&thumb=false"
      type_product="pacote do jogo"
      card_title="Grand Theft Auto V (PS4™ e PS5™)"
      discount_value="-67%"
      price="R$98,96"
      selling_price="R$299,90"
    ></app-card-product>
  </div>
</section>
<section class="categories">
  <div class="cards_container">
    <a href="">
      <app-card-categories image="https://image.api.playstation.com/pr/bam-art/111/759/3770a95e-374d-4d53-8655-486a26929463.jpg?w=440"></app-card-categories>
    </a>
    <a href="">
     <app-card-categories image="https://image.api.playstation.com/pr/bam-art/109/464/38c22161-b287-4e28-89ad-a2a97c8141c3.png?w=440"></app-card-categories>
    </a>
    <a href="">
      <app-card-categories image="https://image.api.playstation.com/pr/bam-art/157/701/bb8d5aaa-8310-40d3-b11d-41a0f5b622e3.png?w=440"></app-card-categories>
    </a>
    <a href="">
      <app-card-categories image="https://image.api.playstation.com/pr/bam-art/110/565/aedbe663-b3d6-4c6f-b43c-4ae83cbd8c10.jpg?w=440"></app-card-categories>
    </a>
    <a href="">
      <app-card-categories image="https://image.api.playstation.com/pr/bam-art/136/935/fe5b77a8-16ee-4647-b676-bcb1a28cac2a.png?w=440"></app-card-categories>
    </a>
    <a href="">
      <app-card-categories image="https://image.api.playstation.com/pr/bam-art/111/152/2a125dbb-091c-4a5b-a7e3-1cf483daf439.jpg?w=440"></app-card-categories>
    </a>
    <a href="">
      <app-card-categories image="https://image.api.playstation.com/pr/bam-art/108/737/a296b1f1-3dee-448f-aeab-7e31dec98048.png?w=620"></app-card-categories>
    </a>
    <a href="">
      <app-card-categories image="https://image.api.playstation.com/pr/bam-art/156/127/64fdc096-e507-406c-a6bc-db88a6081ee2.png?w=620"></app-card-categories>
    </a>
    
  </div>
  <a href="" class="see-more">Mostrar mais</a>
</section>